# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear

# Build directories
out/
build/
target/

# =========================
# Scala / Metals / Bloop
# =========================
.metals/
metals.lock.db
metals.log
metals.mv.db

.bloop/

# Coursier cache (optional)
.coursier/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db